* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
header {
    background-image: url(../img/hero/h1_hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
nav {
    height: 100px;
    background: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logo img {
    margin: 35px 0px 0px 30px;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 100px;
}
nav ul li a {
    color: white !important;
    font-weight: bolder;
    font-size: 16px;
}
#check{
    display: none;
}
.checkbtn{
    color: white;
    font-size: 40px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    line-height: 100px;
    display: none;
}
.dropdown {
    display: none;
}
.middle {
    margin: 10px 10px 0px 20px;
    float: right;
}
.bzn a, .bza a {
    color: white;
    letter-spacing: 1px;
    font-weight: bolder;
}
.bzn, .bza {
    background-color: #FF9F67;
    border: none;
    margin: 10px;
    width: 115px;
    height: 50px;
    border-radius: 5px;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
}
.bza {
    background-color: transparent !important;
    border: 1px solid white;
    height: 54px !important;
}
.bzn a:hover {
    color: white !important;
}
.bzn::before, .bza::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #AE59FF;
    border-radius: 5px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.bza::before {
    background: #FF9F67 !important;
}
.bza a:hover {
    color: white !important;
}
.btn1::before, .btn2::before {
    transform: scaleX(0);
}
.btn1:hover::before, .btn2:hover::before {
    transform: scaleX(1);
}
/* .......title...... */
.title {
    width: 500px;
    color: white;
    margin: 100px 0px 0px 120px;
}
.title h1 {
    font-size: 57px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.title h5 {
    font-size: 18px;
    line-height: 4vh;
    margin-bottom: 20px;
}
.view{}
.btn3{
    background: #FF9F67;
    border: none;
    width: 185px;
    height: 50px;
    border-radius: 8px;
    position: relative;
    transition: color 0.4s linear;
    z-index: 1;
}
.btn3 a{
    color: white;
    letter-spacing: 1px;
    padding: 15px;
}
.btn3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #AE59FF;
    z-index: -1;
    border-radius: 7px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn3:hover a{
    color: white !important;
}
.btn4::before {
    transform: scaleY(0);
}
.btn4:hover::before {
    transform: scaleY(1);
}

/* .....title ends here.....  */

/* introduction */

.introduction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.into-bar, .into-bar-x {
    display: flex;
    width: 25%;
    padding: 15px;
    background: white;
    margin: 90px 15px 0px 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 56px 0px rgba(0, 0, 0, 0.068);
    height: 100px;
}
.intro-text {
    width: 70%;
    margin-left: 10px;
}
.intro-text h2 {
    font-size: 20px;
    font-weight: bold;
    color: #4255A4;
}
.intro-text h5 {
    font-size: 15px;
    color: #4255A4;
}
main {
    height: 50vh;
    background: white;
}

/* introduction ends here  */

/* featured courses  */

.featured-courses-title {
    color: #4255A4;
    text-align: center;
    margin: 130px 0px 70px 0px;
}

.card-title .h, .card-text .p {
    color: #6E7697;
    font-size: 17px;
}

.card-text .a{
    color: #5162AB;
}
.card-text .x, .color {
    font-size: 12px;
    color: #FF7B2E
}
.card-text .z {
    color: #495CA8;
    font-size: 23px;
    font-weight: bolder;
    margin-left: 55px;
}
.card-img-top .y {
    width: 100% !important;
    margin: auto;
}
.card .elm{
    border: none !important;
    box-shadow: 1px 2px 2px 0px rgba(34, 34, 34, 0.075);
    height: 600px;
    border-left: 0.5px solid rgba(34, 34, 34, 0.075) !important;
    border-right: 0.5px solid rgba(34, 34, 34, 0.075) !important;
}
.omega{
    width: 81% !important;
    margin: 5px auto;
    height: 610px;
    border-radius: 10px;
}
.btn0 {
    height: 56px;
    width: 250px;
    margin: 5px auto;
    border-color: #E2E4FF !important;
    color: #495CA8 !important;
    position: relative;
    transition: color 0.4s linear;
    z-index: 1;
}
.btn0::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    background-color: #FF7B2E;
}
.btn0:hover,.btn0:hover a{
    background: none !important;
    color: white !important;
}
.btnx::before{
    transform: scaleY(0);
}
.btnx:hover::before{
    transform: scaleY(1);
}
/* ......new skills........  */

.new-skills {
    color: #4255A4;
    width: 70%;
    margin: 85px 0px 0px 45px;

}
.new-skills-image {
    /* margin-top: -15px !important; */
}
.new-skills h1 {
    font-weight: bolder;
}
.new-skills p {
    color: #1028A1;
    margin: 25px 0px;
}
.new-skills div span {
    color: #4255A4;
    margin: 0px 0px 0px 20px;
}
.new-skills div .span-2 {
    color: #4255A4;
    margin: 0px 0px -20px 20px;
}
.new-skill-bar {
    margin: 0px 0px 15px 0px;
    display: flex;
}
/* new-skill ends  */
/* video-player */
.video-player {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    background-color: #FF7B2E;
}
/* video-player ends here */
/* top subjects  */
.top-subjects-title {
    color: #4255A4;
    text-align: center;
    margin: 130px 0px 70px 0px;
}
.top-subjects {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    padding-left: 150px !important;
    
}
.top-card-1, .top-card-2, .top-card-3, .top-card-4, .top-card-5, .top-card-6, .top-card-7, .top-card-8 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    width: 230px;
    margin: 15px;
    transition: 0.5s ease;
    border-radius: 12px;
}
.top-card-1 {
    background-image: url(../img/gallery/topic1.png);
}
.top-card-2 {
    background-image: url(../img/gallery/topic2.png);
}
.top-card-3 {
    background-image: url(../img/gallery/topic3.png);
}
.top-card-4 {
    background-image: url(../img/gallery/topic4.png);
}
.top-card-5 {
    background-image: url(../img/gallery/topic5.png);
}
.top-card-6 {
    background-image: url(../img/gallery/topic6.png);
}
.top-card-7 {
    background-image: url(../img/gallery/topic7.png);
}
.top-card-8 {
    background-image: url(../img/gallery/topic8.png);
}
.top-subjects h2 {
    font-size: 20px;
    margin: 50px auto;
    color: white;
    text-align: center;
    font-weight: bolder;
}
.top-card-1:hover, .top-card-2:hover, .top-card-3:hover, .top-card-4:hover, .top-card-5:hover, .top-card-6:hover, .top-card-7:hover, .top-card-8:hover {
    text-decoration-color: white !important;
    background-color: rgba(49, 67, 136, 0.952);
    background-blend-mode: soft-light;
}
.top-subjects h2:hover{
    text-decoration: underline !important;
    cursor: pointer;
}
/* top subject ends here  */
/* view more subjects  */
.view-more{
    margin: 40px 0px 70px 0px;
    width: 100%;
    text-align: center;
}
.btn5{
    background: transparent;
    border: 1px solid #FF7B2E;
    width: 260px;
    height: 57px;
    border-radius: 8px;
    position: relative;
    transition: color 0.4s linear;
    z-index: 1;
}
.btn5 a{
    color: #FF7B2E;
    letter-spacing: 1px;
    padding: 15px;
}
.btn5::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FF7B2E;
    z-index: -1;
    border-radius: 7px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn5:hover a{
    color: white !important;
}
.btn6::before {
    transform: scaleY(0);
}
.btn6:hover::before {
    transform: scaleY(1);
}
/* view more ends here  */
/* ...........outcomes............  */
.outcomes{
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 20px 0px;
}
.outcome-image{
    width: 630px;
    height: 470px;
    margin-left: -20px;
}
.outcome-text{
    width: 540px;
    margin-left: -30px;
    height: 300px;
    margin-top: 80px;
}
.ticks-bar{
    display: flex;
    padding: 15px 0px;
}
.outcome-text h1{
    font-size: 41px;
    font-weight: bolder;
    color: #4255AA;
    line-height: 9vh;
}
.ticks-bar p, .ticks-bar .x{
    font-size: 15.4px;
    margin: 0px 0px -35px 20px;
    color: #102881;
    padding-bottom: 17px;
}
.ticks-bar .x{
    margin: 0px 0px -35px 20px !important;
}
/* experts */
.man{
    width: 81% !important;
    margin: 5px auto;
    margin-top: 50px !important;
    height: 420px;
    border-radius: 10px;
}
.experts-title{
    color: #4255A4;
    text-align: center;
    margin: 130px 0px 70px 0px;
}
.hel{
    border: none !important;
}
.gen{
    width: 83% !important;
    margin: auto;
}
.go h4{
    text-align: center;
    color: #4255A4;
    font-size: 23px;
    font-weight: bolder;
}
.go p{
    text-align: center;
    color: #57667E;
    line-height: 5vh;
}
.next-level{
    display: flex;
    justify-content: space-around;
}
.next-level-image{
    width: 600px;
    height: 450px;
    margin: 0px 0px 0px 10px;
}
.next-level-img{
    width: 100% !important;
    height: 100% !important;
}
.next-level-text{
    width: 565px;
    margin: 50px 0px 0px 0px;
}
.next-level-text h1{
    font-size: 41px;
    font-weight: bolder;
    color: #4255AA;
    line-height: 9vh;
    margin: 10px 0px 20px 0px ;
}
.next-level-text p{
    font-size: 16px;
    color: #102881;
}
.btn7{
    background: #FF9F67;
    border: none;
    width: 260px;
    height: 57px;
    border-radius: 5px;
    position: relative;
    transition: color 0.4s linear;
    z-index: 1;
}
.btn7 a{
    color: white !important;
    letter-spacing: 1px;
    padding: 15px;
}
.btn7::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #AE59FF;
    z-index: -1;
    border-radius: 5px;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn7:hover a{
    color: white !important;
}
.btn8::before {
    transform: scaleX(0);
}
.btn8:hover::before {
    transform: scaleX(1);
}

/* footer  */
footer{
    background: #4255A4;
    height: 80vh;
    margin-top: 50px;
}
.footer-bar-1{
    display: flex;
    padding-top: 70px;
    flex-wrap: wrap;    
}
.footer-bar{
    width: 300px;
    margin: 27px 170px 0px 50px;
}
.footer-bar-ul{
    width: 220px !important;
    margin: 27px 0px 0px 27px;
}
.footer-bar p, .footer-logo, .footer-bar h3,.footer-bar-ul ul li a, .footer-bar-ul h3{
    color: white;
}
.footer-logo{
    font-size: 17px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* float: left; */
}
.footer-logo img{
    width: 30px;
    height: 30px;
    background-color: #485AAD;
    border-radius: 150px;
    border-color: transparent;
    padding: 3px;
}
.footer-logo i{
    padding: 10px;
    background-color: rgba(127, 140, 198, 0.274);
    border-radius: 150px;
    margin: 10px;
    border-radius: 150px;
}
.footer-bar-ul h3{
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
}
.footer-bar-ul ul {
    display: inline-block;
}
.footer-bar-ul ul li{
    left: 0;
    padding: 5px 0px 10px 0px;
}
.footer-bar-ul a:hover{
    text-decoration: underline !important;
    text-decoration-color: white;
}
.foot-line{
    margin: 80px 0px 0px 350px;
}
.foot-line p{
    color: white;
    font-size: 18px;
}
.foot-line i{
    color: #C86FFF;
}